<footer>
  <span class="d-block">
    {{ footer.copy }}
  </span>

  <span class="d-block">
    Made with
    <a [href]="footer.made[0][2]" target="_blank" rel="noopener noreferrer">
      {{ footer.made[0][0] }}
    </a>
    and
    <a [href]="footer.made[1][2]" target="_blank" rel="noopener noreferrer">
      {{ footer.made[1][0] }}
    </a>
  </span>

  <span class="d-block mb-05">
    Powered by
    <a [href]="footer.powered[2]" target="_blank" rel="noopener noreferrer">
      {{ footer.powered[0] }}
    </a>
  </span>

  <div>
    <img [src]="footer.made[0][1]" width="30" heigth="30" alt="angular logo" />
    <img [src]="footer.made[1][1]" width="30" heigth="30" alt="angular logo" />
    <img [src]="footer.powered[1]" width="30" heigth="30" alt="netlify logo" />
    <img
      [src]="footer.badge"
      alt="deploy status on netlify cdn"
      class="d-block mx-auto"
    />
  </div>
</footer>
