@import "../../../sass/theme";

/* style */

nav {
  padding: 0.5rem 1rem;
  background-color: $menu;
  box-shadow: 0 3px 5px -2px black;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

/* logic */

// hamburger
.hamburger-label {
  cursor: pointer;
  font-size: 24px;
  line-height: 1.5;
  display: block;
  @media screen and (min-width: 568px) {
    display: none;
  }
}
.hamburger-checkbox {
  display: none;
  &:checked + .menu {
    display: block;
  }
}

// menu
.menu {
  padding: 0;
  margin: 0;
  display: none;
  line-height: 1.5;
  @media screen and (min-width: 568px) {
    line-height: 2.5;
    display: block;
  }
  .menu-item {
    position: relative;
    margin: 0.5rem;
    text-align: center;
    display: block;
    padding: 0.5rem 0;
    @media screen and (min-width: 568px) {
      display: inline;
    }
    & > a,
    label {
      padding: 0.5rem;
    }
    &-btn {
      color: $primary;
      @media screen and (min-width: 568px) {
        border: 2px solid $ternary;
        border-radius: 15px;
        &:active {
          border-color: $accent;
        }
      }
    }
  }
}

// dropdown
.dropdown-nav {
  position: relative;
}
.dropdown-label {
  cursor: pointer;
}
.dropdown-checkbox {
  display: none;
  &:hover + .dropdown-menu {
    display: block;
  }
}
.dropdown-menu {
  display: none;
  border: 1px solid transparent;
  border-radius: 15px;
  background-image: linear-gradient(to bottom, $menu 10%, $ternary 90%);
  text-align: center;
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem;
  &:hover {
    display: block;
  }
  @media screen and (min-width: 568px) {
    margin-top: -1px;
    z-index: 10;
    text-align: left;
    box-shadow: 0 2px 4px 0 black;
    position: absolute;
    left: 0;
  }
  .dropdown-item:hover {
    a {
      color: darken($accent, 10%);
    }
  }
}

// NOTE: @mobile => :hover === :active
