<header>
  <h1>Refranes Españoles</h1>
</header>

<!-- TODO: prop all : for later potential translation -->
<!-- TODO: NAVBAR paddings passin WebVitals -->
<nav>
  <ul>
    <li>
      <a routerLink="/"> Inicio </a>
    </li>
    <li>
      Refranes
      <ul>
        <li>
          <a routerLink="/vulgares"> Vulgares </a>
        </li>
        <li>
          <a routerLink="/de-temporada"> De Temporada </a>
        </li>
        <li>
          <a routerLink="/populares"> Populares </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<!-- <main> -->
<router-outlet></router-outlet>

<footer>Copyright © 2020-2021 Isaac Bejarano</footer>
