<main>
  <article>
    <header>
      <h1>{{ heading | titlecase }}</h1>

      <!-- modal -->
      <app-modal *ngIf="slug === 'vulgares-guard'"></app-modal>

      <!-- PEGI-16 -->
      <div *ngIf="slug === 'vulgares' || slug === 'vulgares-guard'" class="pegi">
        <img
          src="./assets/icons/pegi_16_sm.png"
          width="30"
          height="37"
          alt="logo de pegi 16"
        />
        <img
          src="./assets/icons/pegi_language_sm.png"
          width="30"
          height="30"
          alt="logo de pegi bad language"
        />
      </div>
    </header>

    <!-- UL -->
    <ul *ngIf="slug !== 'vulgares-guard'" class="idioms-list">
      <li class="idiom-item" *ngFor="let idiom of idioms | async">
        <span class="fs-1h">
          {{ idiom.fields.f1 }}
          {{ idiom.fields.f2 }}
        </span>
      </li>
    </ul>
  </article>
</main>
