body {
  color: #4a5e65;
  background-color: pink;
  background-color: peachpuff;
  background-color: #e6e095;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: justify;
  //
  box-sizing: border-box;
  overflow: visible;
  // overflow-wrap: break-word;
  // word-wrap: break-word;
}
